# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!package.json
!.prettierrc
!eslint.config.js
!README.md
!.vscode

# Ignore removed AstroPaper example content
src/content/posts/_color-schemes/**
src/content/posts/_releases/**
