---
import IconRss from "@/assets/icons/IconRss.svg";
import Socials from "@/components/Socials.astro";
import { ui } from "@/ui";
import config from "@/config";

const { socials } = config;

const t = ui;
---

<section id="hero" class="border-border border-b pt-8 pb-6">
  <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
    Tôi la cà.
  </h1>
  <a
    target="_blank"
    href={`${import.meta.env.BASE_URL.replace(/\/?$/, "/")}rss.xml`}
    class="inline-block"
    aria-label="RSS Feed"
    title="RSS Feed"
  >
    <IconRss
      width={20}
      height={20}
      class="stroke-accent scale-125 stroke-3 rtl:-rotate-90"
    />
    <span class="sr-only">RSS Feed</span>
  </a>

  <p>
    Một chiếc blog nhỏ về cuộc sống, công việc, chạy bộ và những dự án của mình.
    <br />
    Viết để lưu lại những điều mình đã học, đã làm và đã trải nghiệm.
  </p>

  {
    socials.length > 0 && (
      <div class="mt-4 flex max-sm:flex-col sm:items-center">
        <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">
          {t.home.socialLinks}:
        </div>
        <Socials />
      </div>
    )
  }
</section>
