---
type Props = {
  pageTitle: string | [string, string];
  pageDesc?: string;
  class?: string;
};

const { pageTitle, pageDesc, class: className } = Astro.props;
---

<main id="main-content" class:list={["app-layout pb-4", className]}>
  <h1 class="text-2xl font-semibold sm:text-3xl">{pageTitle}</h1>
  <p class="mt-2 mb-6 italic">{pageDesc}</p>
  <slot />
</main>
